.footer{
    background-color: #222;
    color: #fff;
    padding: 2em;
    text-align: center;
    border-top: 3px solid #ffbb33;

}

.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
    font-size: 25px;
    cursor: pointer;
}

.social_list li:hover{
    color: #ffbb33;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}